<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- World -->
    <arg name="world_name" value="$(find final_project)/worlds/walls.world" />
    <!-- Sim control -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <!-- GUI -->
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <!-- Debug -->
    <arg name="verbose" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>